name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  go:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
          cache: true

      - name: Go vet
        run: go vet ./...

      - name: Test
        run: go test ./...
